<div class="profile__ticket table-responsive">
    <table class="table" *ngIf="!sale_detail_review">
       <thead>
          <tr>
             <th scope="col">N° Transacción</th>
             <th scope="col">Metodo de pago</th>
             <th scope="col">Fecha de registro</th>
             <th scope="col">Monto total</th>
             <th scope="col">View</th>
          </tr>
       </thead>
       <tbody>
         @for(sale of sales;track sale.id) {
            <tr>
               <th scope="row"> #{{ sale.n_transaccion }}</th>
               <td data-info="title">{{ sale.method_payment }}</td>
               <td >{{ sale.created_at }} </td>
               <td data-info="status pending">{{ sale.total }} {{ sale.currency_payment }}</td>
               <td><a href="#" onclick="return false;" (click)="detailShow(sale)" class="tp-logout-btn">Detail</a></td>
            </tr>
            @for(sale_detail of sale.sale_details;track sale_detail.id) {
               <tr *ngIf="sale.sale_detail_show">
                  <th scope="row"> 
                     <img [src]="sale_detail.product.imagen" style="width: 25%;object-fit: contain;" alt="">
                     <br>
                     <a href="#" onclick="return false;" (click)="reviewShow(sale_detail)" class="tp-logout-btn">Review</a>
                  </th>
                  <td data-info="title">{{ sale_detail.product.title }}</td>
                  <td >{{ sale_detail.quantity }} </td>
                  <td data-info="status pending">{{ sale_detail.subtotal }} {{ sale_detail.currency }}</td>
                  <td data-info="status pending">{{ sale_detail.total }} {{ sale_detail.currency }}</td>
               </tr>
            }
         }

       </tbody>
    </table>
    <div class="tp-product-details-review-form" *ngIf="sale_detail_review">
      <h3 class="tp-product-details-review-form-title">Review: "{{ sale_detail_review.product.title }}"</h3>
      <p>Your email address will not be published. Required fields are marked *</p>
      <form action="#">
         <div class="tp-product-details-review-form-rating d-flex align-items-center">
            <p>Your Rating :</p>
            <div class="tp-product-details-review-form-rating-icon d-flex align-items-center">
               <span class="start-large" [ngClass]="{'start-gris': rating < 1}" (click)="selectedRating(1)"><i class="fa-solid fa-star"></i></span>
               <span class="start-large" [ngClass]="{'start-gris': rating < 2}" (click)="selectedRating(2)"><i class="fa-solid fa-star"></i></span>
               <span class="start-large" [ngClass]="{'start-gris': rating < 3}" (click)="selectedRating(3)"><i class="fa-solid fa-star"></i></span>
               <span class="start-large" [ngClass]="{'start-gris': rating < 4}" (click)="selectedRating(4)"><i class="fa-solid fa-star"></i></span>
               <span class="start-large" [ngClass]="{'start-gris': rating < 5}" (click)="selectedRating(5)"><i class="fa-solid fa-star"></i></span>
            </div>
         </div>
         <div class="tp-product-details-review-input-wrapper">
            <div class="tp-product-details-review-input-box">
               <div class="tp-product-details-review-input">
                  <textarea id="message" name="message" [(ngModel)]="message" placeholder="Write your review here..."></textarea>
               </div>
            </div>
         </div>
         <div class="tp-product-details-review-btn-wrapper">
            <button type="button" class="tp-product-details-review-btn" (click)="saveReview()"> {{ sale_detail_review.review ? 'Editar Review' : 'Registrar Review' }} </button>

            <button type="button" class="btn btn-dark mx-3" (click)="backlist()">Salir</button>
         </div>
      </form>
   </div>
 </div>