<div class="profile__password">
    <form action="#">
       <div class="row">
          <div class="col-xxl-6 col-md-6">
             <div class="tp-profile-input-box">
                <div class="tp-profile-input">
                   <input name="new_pass" id="new_pass" [(ngModel)]="password" type="password">
                </div>
                <div class="tp-profile-input-title">
                   <label for="new_pass">New Password</label>
                </div>
             </div>
          </div>
          <div class="col-xxl-6 col-md-6">
             <div class="tp-profile-input-box">
                <div class="tp-profile-input">
                   <input name="con_new_pass" id="con_new_pass" [(ngModel)]="confirmet_password" type="password">
                </div>
                <div class="tp-profile-input-title">
                   <label for="con_new_pass">Confirm Password</label>
                </div>
             </div>
          </div>
          <div class="col-xxl-6 col-md-6">
             <div class="profile__btn">
                <button type="button" (click)="updateUser()" class="tp-btn">Update</button>
             </div>
          </div>
       </div>
    </form>
 </div>